.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 60px;
    top: 370px;
  }
  
  .baloon {
    position: absolute;
    left: 200px;
    top: 170px;
    z-index: 1;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    left: 220px;
    top: 207px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 350px;
    left: 450px;
  }