body{
    background-color: gray;
}
div:hover {
    border: 1px solid black;
}

/* h3{
    font-style: italic;
} */
.divh3{
    font-style: italic;
}

.div1{
    color: red;
}

.div2{
    color: blue;
}

.div3{
    height: 6em;
    color: green;
}

.div4{
    color: yellow;
}

#div5{
    color: magenta;
}